.sidebar {
    flex: 1.5;
    height: calc(100vh - 90px);
    margin: 20px;
}

.sidebarWrapper {
    padding: 20px;
    
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;;
}

.sidebarIcon {
    margin-right: 15px;
}